ENVIRONMENT=development

# Neon PostgreSQL
DATABASE_URL=postgresql+asyncpg://user:password@ep-xxxx-pooler.region.aws.neon.tech/dbname
DATABASE_URL_DIRECT=postgresql+asyncpg://user:password@ep-xxxx.region.aws.neon.tech/dbname

# Redis
REDIS_URL=redis://localhost:6379/0

# Resend (notifications email)
RESEND_API_KEY=
RESEND_FROM_EMAIL=Payment Platform <notifications@example.com>

# Securite
JWT_SECRET_KEY=changeme
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
ADMIN_SESSION_EXPIRE_MINUTES=480
ENCRYPTION_KEY=changeme-fernet-key

# Dashboard admin (CORS - origine du frontend Next.js)
ADMIN_DASHBOARD_ORIGIN=http://localhost:3000

# Yellow Card
YELLOWCARD_BASE_URL=https://sandbox.api.yellowcard.io
YELLOWCARD_API_KEY=
YELLOWCARD_API_SECRET=
